body {
    font-family: Arial, sans-serif;
    background-color: #efd199;
    margin: 0;
    padding-left: 70px;
}

.container {
    width: 90%;
    margin: auto;
   
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}


.btn {
    background-color: #efd199;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #d4b380;
}